body, h1,h2,h3,h4,h5,h6,p,a,ul,li{
    margin: 0;
    padding: 0;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
body{
    background-color: #b6ff58;
    font-family: 'Open Sans', sans-serif;
    color: #2b2b2b;
}
.body{
    background-image: url(img/kerill-bg.png);
    width: 1920px;
    height: 1080px;
    display: block;
    position: relative;
}
#first-cat{
    background-image: url(img/first.png);
    height: 320px;
    width: 320px;
    background-size: cover;
}
#second-cat{
    background-image: url(img/second.png);
    height: 320px;
    width: 320px;
}
.counter{
    display: flex;
    justify-content: space-around;
    padding: 310px;
}
.desc>p{
    font-style: italic;
    max-width: 705px;
    font-size: 20px;
}
.desc>h1{
    margin-bottom: 30px;
}
.dcp{
    background-image: url(img/anvosshia.png);
    width: 97px;
    height: 118px;
    background-size: cover;
}
.footer{
    display: flex;
    justify-content: space-around;
    background-color: #425933;
    color: white;
    padding: 80px 0;
    margin-top: 100px;
}
.footer>div>p{
    color: #b8b8b8;
}
.footer-2{
    display: flex;
    justify-content: space-around;
    background-color: #679143;
    padding: 10px 0;
}
.footer-2>div{
    max-width: 390px;
}
.footer-2>.annotacia>ul{
    display: flex;
    justify-content: space-between;
}
.footer-2>.annotacia>ul>li{
    width: 30px;
    height: 30px;
    
}
.annotacia{
    margin-top: 10px;
}
.fa{
    width: 30px;
    height: 30px;
}
.fas{
    width: 30px;
    height: 30px;
}
.container{
    background-image: url(https://cdn.discordapp.com/emojis/484824046962475020.gif?v=1);
    height: 420px;
    display: block;
    margin: -310px auto 0;
}
.amigo{
    background-image: url(Dance.gif);
    position: absolute;
    z-index: 103;
    width: 612px;
    height: 495px;
    left: 227px;
    top: 0px;
    zoom: 179%;
    display: none;
}
.amigo-close{
    background-image: url(./img/favicon.png);
    width: 40px;
    height: 40px;
    background-size: cover;
    position: absolute;
    top: 90px;
    left: 1510px;
    display: none;
}


